flows.json
[{"id":"1512f3dd.14db54","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"14554ff3.bb2948","type":"mqtt in","z":"1512f3dd.14db54","name":"esp sensor","topic":"espdata","qos":"2","datatype":"auto","broker":"4a6ae1a4.283d7","x":170,"y":260,"wires":[["34e8003a.0fb648","955706d3.b26578","9cdfb3cf.db15c","e4d100cc.55b3c"]]},{"id":"34e8003a.0fb648","type":"ui_gauge","z":"1512f3dd.14db54","name":"Temprature","group":"771da7c0.a4d788","order":7,"width":16,"height":6,"gtype":"gage","title":"Temprature ","label":"degrees","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":400,"wires":[]},{"id":"955706d3.b26578","type":"ui_chart","z":"1512f3dd.14db54","name":"","group":"771da7c0.a4d788","order":1,"width":16,"height":5,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1010,"y":420,"wires":[[]]},{"id":"fdede6da.f9fc58","type":"ui_switch","z":"1512f3dd.14db54","name":"Light","label":"Light Switch","tooltip":"","group":"771da7c0.a4d788","order":16,"width":16,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":540,"wires":[["b06da1c0.e81698"]]},{"id":"f65eaf34.edcfe8","type":"change","z":"1512f3dd.14db54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAN ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":120,"wires":[["7ed78a46.9748ec"]]},{"id":"9cdfb3cf.db15c","type":"switch","z":"1512f3dd.14db54","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":120,"wires":[["f65eaf34.edcfe8","1609351b.4ebaa3"]]},{"id":"7ed78a46.9748ec","type":"ui_text","z":"1512f3dd.14db54","group":"771da7c0.a4d788","order":14,"width":16,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":940,"y":140,"wires":[]},{"id":"23aeae51.16c2e2","type":"change","z":"1512f3dd.14db54","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"FAN OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":260,"wires":[["7ed78a46.9748ec"]]},{"id":"e4d100cc.55b3c","type":"switch","z":"1512f3dd.14db54","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":240,"wires":[["23aeae51.16c2e2"]]},{"id":"1609351b.4ebaa3","type":"rpi-gpio out","z":"1512f3dd.14db54","name":"","pin":"18","set":true,"level":"0","freq":"","out":"out","x":670,"y":60,"wires":[]},{"id":"b06da1c0.e81698","type":"rpi-gpio out","z":"1512f3dd.14db54","name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":430,"y":560,"wires":[]},{"id":"4a6ae1a4.283d7","type":"mqtt-broker","z":"","name":"","broker":"3.121.31.186","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"771da7c0.a4d788","type":"ui_group","z":"","name":"Temprature sensor","tab":"a307630e.33adc8","disp":true,"width":18,"collapse":false},{"id":"a307630e.33adc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]